
/*------------- Product Page -----------*/

.woocommerce .woocommerce-ordering, 
.woocommerce .woocommerce-result-count {
	margin-bottom: 50px;
}
.woocommerce ul.products li.product h3 {
	font-weight: 500;
}
.woocommerce span.onsale {
	background-color: #00c0ff;
}
.woocommerce-info {
    border-top-color: #00c0ff;
}
.woocommerce-info:before {
	color: #00c0ff;
}
.woocommerce ul.products li.product .price {
	color: #3f56b4;
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
	display: block;
}
.woocommerce a.button,
.woocommerce button.button.alt,
.woocommerce #respond input#submit,
 .woocommerce input.button,
.woocommerce a.button.alt,
 .woocommerce input.button.alt,
.woocommerce button.button {
	background-color: transparent;
	color: #1b1b1b;
	font-size: 14px;
	border: 2px solid #00c0ff;
	text-transform: uppercase;
	padding: 10px 18px;
	border-radius: 0;
	font-weight: 500;
	line-height: 100%;
}
.woocommerce a.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce #respond input#submit:hover,
 .woocommerce input.button:hover,
.woocommerce a.button.alt:hover,
 .woocommerce input.button.alt:hover,
.woocommerce button.button:hover {
	background-color: #00c0ff;
	color: #fff;
}
.woocommerce .star-rating span {
	color: #1e414e;
}
.woocommerce ul.products li.product .price {
	font-weight: 500;
}
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover {
    background: #00c0ff;
    color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce nav.woocommerce-pagination ul {
	border-color: #00c0ff;
}
.woocommerce ul.product_list_widget li img {
	width: 65px;
}
.woocommerce ul.product_list_widget li .woocommerce-Price-amount {
	color: #555555;
}
.woocommerce-product-search .search-field {
	height: auto;
    border: none;
    border-radius: 0;
    font-size: 16px;
    box-shadow: none;
    padding: 6px 15px;
	border: 1px solid #eeeeee !important;
	outline: none;
}
.woocommerce-product-search input[type='submit'] {
	border-color: #eeeeee;
	outline: none;
	box-shadow: none;
	background: #eeeeee;
	color: #1c1c1c;
	padding: 5px 10px;
}
.woocommerce div.product {
	margin-bottom: 30px;
}
.woocommerce a.button {
	margin-top: 15px;
}
.woocommerce div.product h3 {
	margin-bottom: 20px;
	margin-top: 25px;
	font-size: 20px;
	color: #1b1b1b;
	font-weight: 500;
	font-style: capitalize;
}
.woocommerce nav.woocommerce-pagination ul {
	float: none;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #3ea6ec;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #00c0ff;
}
.star-rating span {
	font-family: inherit;
}
.woocommerce .woocommerce-ordering select {
	padding: 8px 15px;
	outline: none;
}
.bredcrumbs {
	color: #fff;
	font-size: 12px;
}

/*------------- Single Product Page -----------*/

.woocommerce div.product .product_title {
	font-weight: 400;
	margin-bottom: 10px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
	color: #767676;
	font-size: 30px;
	font-weight: 300;
	display: block;
}
.woocommerce-page div.product div.summary div[itemprop="description"] p {
	margin: 20px 0;
}
.woocommerce div.product .woocommerce-tabs .panel p {
	padding-bottom: 20px;
	margin-top: 20px;
}
.related.products h2 {
	margin-bottom: 30px;
}
.woocommerce div.product .woocommerce-tabs .panel .comment-form-rating {
	padding-bottom: 0;
}
.woocommerce #review_form #respond p {
	padding-bottom: 0;
}
.woocommerce #review_form #respond textarea {
	outline: none;
	padding: 10px 15px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background-color: #00c0ff;
	border-color: #00c0ff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: #1c1c1c;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	border-color: #00c0ff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	box-shadow: 2px 2px 0 #00c0ff;
}
.woocommerce-Reviews-title,
.upsells.products h2 {
	margin-bottom: 20px;
}
.woocommerce-variation-price {
	margin-bottom: 20px;
}
table.variations .label label {
	color: #333;
	font-size: 14px;
	display: block;
	text-align: right;
	margin-top: -10px;
	padding-right: 15px;
}
.woocommerce-Price-currencySymbol {
	line-height: 100%;
}
.woocommerce a.added_to_cart {
	color: #1b1b1b;
}
.woocommerce-review-link,
.product_meta .posted_in a  {
	color: #1b1b1b;
}
.woocommerce .quantity .qty {
	outline: none;
	border: 2px solid #00c0ff;
}
.woocommerce p.stars a {
	color: #00c0ff;
}
.woocommerce #reviews #comments ol.commentlist {
	padding-left: 0;
}

/*------------- Cart Page -----------*/

.woocommerce a.remove {
	color: #1e414e !important;
}
.woocommerce a.remove:hover {
	background: #1e414e
}
.woocommerce-cart table.cart input {
	outline: none;
}
.woocommerce-cart table.cart th {
	color: #1e414e;
}
.woocommerce-cart table.cart img {
	width: 120px;
}
.woocommerce-cart table.cart .product-thumbnail {
	max-width: 56px;
}
.woocommerce-message,
.woocommerce-error {
	border-top-color: #00c0ff;
}
.woocommerce-message:before,
.woocommerce-error:before {
	color: #00c0ff;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: 200px;
	border: 2px solid #00c0ff;
	padding-top: 8px;
	padding-bottom: 8px;
}
.cart_totals.calculated_shipping h2 {
	margin-bottom: 20px;
}
.woocommerce .cart-collaterals .cross-sells h2, 
.woocommerce-page .cart-collaterals .cross-sells h2 {
	margin-bottom: 20px;
}
.cart-collaterals {
	margin-top: 50px;
}
#order_review_heading {
	margin-top: 50px;
	margin-bottom: 20px;
}
.woocommerce form .form-row input.input-text,
.select2-container .select2-choice>.select2-chosen {
	padding: 8px 15px;
}
.woocommerce form .form-row textarea {
	height: 200px;
}
.woocommerce-pagination {
	margin-top: 50px;
}
.woocommerce-pagination ul.page-numbers {
	width: auto;
}

/*------------------- Product Widget --------------------*/

.product_list_widget,
.product-categories {
	text-align: left;
}
.woocommerce .product_list_widget .star-rating span {
	float: none;
}
.woocommerce .product_list_widget .woocommerce-Price-amount {
	margin-top: 8px;
	display: block;
}
.woocommerce .quantity .qty {
	height: 38px;
}
.woocommerce .woocommerce-message a.button {
	margin-top: 0;
}
.page-content ul li, .page-content ol li {
	margin-top: 0;
}
